.cache

out/
obj/

Lst/
Obj/

OUT/
OBJ/
Objects/
Listings/
DebugConfig/
build/
old/

*.log
*.POMIN
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.o
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.tra
*.dep
*.iex
*.htm
*.sct
*.map
*.zip

!build/confi*

